header{
  background-color: rgba(0,0,0,0.5);
  i{
    color:white;
  }
  
a{
  text-decoration: none;
  color:white;
  text-transform: uppercase;
  font-weight: 700;
}
  a:hover{
    color:$basic;
text-decoration: none;
  }



}
